.list-cnt {
  min-height: calc(100vh - 130px);
}

.film-fav {
  width: 20%;
  height: fit-content;
  box-sizing: border-box;
  margin: 2% 2.5%;
  position: relative;
}

.play-btn:hover {
  background-color: rgba(0, 0, 0, 0.5); 
}

.play-btn {  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn > span {
  visibility: hidden;
  transition: visibility 0.1s ease-in-out;
}