#loginFormContainer {
    background-color: #fff;
    color: gray;
    padding: 10px 30px;
    font-size: 16px;
}

#background {    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

input[type=email], input[type=password] {
    font-size: 1em;
}

#loginForm  * {
    color: gray;
}

button.submit > span {
    color: #fff !important;
}

