#loginFormContainer {
    background-color: #fff;
    color: gray;
    margin: 0 auto;
    font-size: 16px;
}

#login {
    height: 100vh;
}

#background {    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

input[type=email], input[type=password] {
    font-size: 1em;
}

#loginForm  * {
    color: gray;
}

button.submit > span {
    color: #fff !important;
}

