html {
    height: 100vh;
}

#loginFormContainer {
    width: 25%;
    background-color: #fff;
    color: gray;
    margin: 0 auto;
    font-size: 16px;
}

#background {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

input[type=email], input[type=password] {
    font-size: 1em;
}

#loginForm  * {
    color: gray;
}

button.submit > span {
    color: #fff !important;
}

