.carousel-cnt {  
  position: relative;
  margin-bottom: 50px;
  padding: 0 40px;
}

.carousel-cnt > h3 {
  height: 25px;
  box-sizing: border-box;
}

.slider {
  transition: transform 1s ease-in-out;
  margin: 0 !important;
}

.item {
  flex-shrink: 0;  
  padding: 2px;
}

.image {
  width: 100%;
  height: 100%;
}

.image > img {
  width: 100%;
  height: 100%;
}

.carousel-btn {  
  display: none;
  position: absolute;
  top: 30px;
  height: 100%;
  border: none;
  background: rgba(20,20,20,.5);
  width: 4%;
  padding: 0;
  outline: none !important;
  border-radius: 5px
}

.right.carousel-btn {
  right: 0;
}

.left.carousel-btn {
  left: 0;
}

@media screen and (max-width: 780px) {
  .carousel-btn {
    display: block;
    width: 10%;
  }

  .carousel-cnt {
    padding: 0 10px;
  }
}

@media screen and (min-width: 780px) {
  .item:hover {
    transform: scale(1.25);
    z-index: 1;
    box-sizing: border-box;
    transition: transform 0.4s ease-in-out;
    box-shadow: inset 0 0 0 3px #fff; 
  }
}
