.slider {
  display: flex;
  align-items: center;
}

.item {
  flex-shrink: 0;
  height: 200px;
  margin-right: 15px;
}

.image {
width: 100%;
height: 100%;
}

.image > img {
width: 100%;
height: 100%;
}
