<header>
  <div ng-include="'./app/components/navbar/navbar.component.html'" ng-controller="navbarController">
</header>
<main>
  <div class="container mt-5">
    <div ng-repeat="el in filmsByGenre" ng-controller="carouselCtrl">
      <h3>{{el.genre}}</h3>      
      <div class="slider">
        <div ng-repeat="(key, film) in el.list" class="item">
          <div class="image">
            <img ng-src="{{film.imageurl[0]}}" alt="{{film.title}}" />
          </div>
        </div>
      <button id="left">left</button>
      <button id="right">right</button>
    </div>    
  </div>
</main>