nav {
    background-color: transparent !important;
    border-radius: unset !important;
    margin: 0 !important;
}

.nav-title {
    color: #fff !important;
    text-decoration: none !important;
}

h1.title {
    font-size: 3em;
}

.nav-link {
    font-size: 14px;
    color: #fff !important;
}

#searchForm.search {
    background-color: #fff;
}

#searchInput {
    display: none;
    border: none;
    font-size: 16px;
}

#searchInput:focus {
    box-shadow:none !important;
}

#searchInput.show {
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-delay: 0s;
}

.icon {
    margin: 0;
    color: #495057;
    cursor: pointer;
    font-size: 2em;
}

.searchModal {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba(0,0,0,0.9);
}

.searchModal > form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#searchInputModal {
    width: 100%;
    margin: 30px !important;
    padding: 0 0 10px 5px;
    font-size: 22px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff !important;
    outline: none !important;
    box-shadow: none;
}
 

@keyframes slideLeft {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(0px);
    }
}
