.detail {
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

.description {
  font-size: 16px;
  line-height: 1em;
}

.info-keys > p {
  font-weight: bold;
}

.info-keys > p, .info-values > p, .info-values > p span {
  margin: 0;
  font-size: 14px;
  color: gray !important;
}

