<header>
    <div ng-include="'./app/components/navbar/navbar.component.html'" ng-controller="navbarController">
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="detail py-5 px-0 my-5 col">
                <h1 class="pb-3 mx-0">{{filmTitle}}</h1>              
                <p class="description col-6 p-0 mt-4">{{film.synopsis}}</p>
                <div class="d-flex align-items-center mt-4 gray">
                    <div class="info-keys">
                        <p>Genere</p>
                        <p>Anno</p>
                        <p>IMDb</p>
                    </div>
                    <div class="info-values mx-3">
                        <p>
                            <span ng-repeat="g in film.genre">{{g}}
                                <span ng-if="film.genre.indexOf(g) < (film.genre.length-1)">-</span>
                            <span>
                        </p>
                        <p>{{film.released}}</p>
                        <p>{{film.imdbrating}}</p>
                    </div>
                </div>
                <div class="buttons d-flex align-items-center mt-5">
                    <div class="btn bg-secondary rounded-circle mr-3">
                        <span class="icon-cnt d-flex justify-content-center">  
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#cccccc"><path d="M32.25,9.40625v143.27734l8.27246,-5.24902l103.80469,-66.38965zM43,29.0166l81.42285,52.02832l-81.42285,51.98632z"></path></g></g></svg>  
                        </span>
                    </div>
                    <div class="btn bg-secondary rounded-circle mr-3">
                        <span class="icon-cnt d-flex justify-content-center" ng-click="addToFav(film)">      
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#cccccc"><path d="M143.33333,78.83333h-50.16667v-50.16667c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667c-3.956,0 -7.16667,3.21067 -7.16667,7.16667v50.16667h-50.16667c-3.956,0 -7.16667,3.21067 -7.16667,7.16667c0,3.956 3.21067,7.16667 7.16667,7.16667h50.16667v50.16667c0,3.956 3.21067,7.16667 7.16667,7.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-50.16667h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667z"></path></g></g></svg>              
                        </span>
                    </div>
                  </div>
            </div>
            <div class="col">
                <img ng-src="{{film.imageurl}}}" alt="">
            </div>
        </div>
    </div>
</main>

